<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SamplePath" value="C:\Archive\Projects\SynergySVN\dev_resources\RD\ElasticTranscoder\ElasticTranscoder\sample\power.mp4"/>
    <add key="LogPath" value="C:\Archive\Projects\SynergySVN\dev_resources\RD\ElasticTranscoder\ElasticTranscoder\log.txt"/>

    <!-- AWS-->
    <add key="AWSAccessKeyID" value="AKIAJQOLAIYVN46JGONQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRole" value="arn:aws:iam::277579135337:role/Elastic_Transcoder_Default_Role"/>
    <add key="ContentDisposition" value="attachment"/>
    <add key="AWSRegion" value="us-east-1"/>
    <add key="Bucket" value="stageu"/>
    <add key="PipelineName" value="power"/>

  </appSettings>
</configuration>